/*body styling*/
body {
  background-size: cover;
  background-color: #0a0a0a;
}
/*first div block styling*/
.div1 {
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  color: black;
}
.div1_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
/*change color when hovered*/
h2:hover {
  background-color: red;
}
/*styl a tag*/
a {
  text-decoration: none;
  color: aqua;
}
/*first img*/
#a1 {
  display: flex;
  justify-content: center;

  background-color: #ffd700;
  color: black;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
*/ #a1:hover {
  background-color: black;
}

.img_home {
  height: 300px;
  max-width: 600px;
  width: 100%;
  border-radius: 40px;
}

.div_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.div_main_img {
  max-width: 1400px;
  width: 100%;
  margin: 100px auto;
}

@media only screen and (max-width: 1250px) {
  .div_img {
    flex-direction: column;
    justify-content: center;
  }
}
