/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background-color: #0a0a0a;
  color: white;
  overscroll-behavior: none;
}

/* Intro section */
.intro-section {
  background: url("https://scontent.ftbs4-2.fna.fbcdn.net/v/t1.6435-9/116875221_2461455810782044_3534810288545694280_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=833d8c&_nc_ohc=CA6vAqpc7dsQ7kNvwGkpYP_&_nc_oc=AdmlPlsNHWSDx9oPyu5tTyKb2WmhdEHdPxRQFK--HcxeOt_SqUg3r3S5oCSkubUVgLs&_nc_zt=23&_nc_ht=scontent.ftbs4-2.fna&_nc_gid=ee135Pmugl9zgd0wBrWM1w&oh=00_AYHTF4-zlwppjuSog44fwPhUnX7bUxdKK8w2T-digasoJw&oe=6817A12F")
    center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.intro-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.intro-text {
  position: relative;
  color: aqua;
  animation: fadeIn 2s ease-in-out;
}

.intro-text h1 {
  font-size: 60px;
  margin-bottom: 20px;
  animation: slideInFromTop 1s ease-in-out;
}

.intro-text p {
  font-size: 50px;
  margin-bottom: 50px;
  animation: slideInFromBottom 1s ease-in-out;
}

.intro-button {
  display: inline-block;
  padding: 20px 100px;
  font-size: 20px;
  background: linear-gradient(45deg, #ffd700, #ffcc00);
  color: black;
  text-decoration: none;
  border-radius: 200px;
  transition: transform 0.3s, background 0.3s;
  animation: fadeIn 2s ease-in-out;
}

.intro-button:hover {
  background: linear-gradient(45deg, #ffcc00, #ffaa00);
  transform: scale(1.1);
}

/* Details section */
.details-section {
  padding: 50px;
  text-align: center;
}

.details-section h2 {
  font-size: 100px;
  margin-bottom: 10px;
  color: #ffd700;
  animation: fadeIn 2s ease-in-out;
}

/* Footer */
footer {
  background-color: #1a1a1a;
  color: aqua;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: slideUp 1s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
